<footer class="footer">
    <div class="footer__header">
        <a class="header__logo">Piano<br> <span>pubblicitario</span></a>
        <form class="footer__form" action="">
            <input type="text" placeholder="email@mail.com" name="subscribe">
            <button>Подписаться</button>
        </form>
    </div>
    <div class="footer__cnt">
        <ul>
            <li class="footer__cnt-item">
                <h4>Время работы:</h4>
                <p>пн-сб 9:00 - 18:00</p>
            </li>
            <li class="footer__cnt-item">
                <h4>Связь с менеджерами:</h4>
                <a href="#" class="header__phone-link">+38 (099) 999-99-99</a>
                <a href="#" class="header__phone-link">+38 (099) 999-99-99</a>
                <a href="#" class="header__phone-link">email@gmail.com</a>
            </li>
            <li class="footer__cnt-item">
                <h4>Адрес:</h4>
                <p class="header__phone-link">г. Мелитополь</p>
                <p class="header__phone-link">ул. Грушевского 41/1</p>
            </li>
            <li class="footer__cnt-item">
                <h4>Мы в социальных сетях:</h4>
                <ul class="social-nav">
                    <li class="social-nav__item"><a href="#" class="fa fa-facebook fa-2x"></a></li>
                    <li class="social-nav__item"><a href="#" class="fa fa-google fa-2x"></a></li>
                    <li class="social-nav__item"><a href="#" class="fa fa-instagram fa-2x"></a></li>
                    <li class="social-nav__item"><a href="#" class="fa fa-skype fa-2x"></a></li>
                </ul>
            </li>

        </ul>
    </div>
</footer>
<div class="footer__btm-cnt">
    <p>&copy; 2012 - 2018 Piano pubblicitario. Все права защищены.</p>
</div>
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-line-wrap">
            <div class="preloader-line"></div>
        </div>
        <div class="preloader-line-wrap">
            <div class="preloader-line"></div>
        </div>
        <div class="preloader-line-wrap">
            <div class="preloader-line"></div>
        </div>
        <div class="preloader-line-wrap">
            <div class="preloader-line"></div>
        </div>
        <div class="preloader-line-wrap">
            <div class="preloader-line"></div>
        </div>
    </div>
</div>