<section id="section1" class="main-section">
    <nav class="main-section__grid grid">
        <h3 class="grid-title">Наружная реклама</h3>
        <ul>
            <li class="grid__item"><a href="#">Объемные буквы</a></li>
            <li class="grid__item"><a href="#">Световые объемные буквы</a></li>
            <li class="grid__item"><a href="#">Имитация объемных букв</a></li>
            <li class="grid__item"><a href="#">Лайтбокс (световой короб)</a></li>
            <li class="grid__item"><a href="#">Вывески</a></li>
            <li class="grid__item"><a href="#">Таблички</a></li>
            <li class="grid__item"><a href="#">Штендеры</a></li>
            <li class="grid__item"><a href="#">Баннера</a></li>
        </ul>
        <a href="post.html" class="main-section__btn">Побробнее</a>
    </nav>
    <nav class="main-section__grid grid">
        <ul>
            <h3 class="grid-title">Широкоформатная печать</h3>
            <li class="grid__item"><a href="#">Постеры</a></li>
            <li class="grid__item"><a href="#">Плакаты</a></li>
            <li class="grid__item"><a href="#">Бигборды</a></li>
            <li class="grid__item"><a href="#">Баннеры</a></li>
            <li class="grid__item"><a href="#">Самоклеящаяся пленка</a></li>
            <li class="grid__item"><a href="#">Фотообои</a></li>
            <li class="grid__item"><a href="#">Картины на холсте</a></li>
            <li class="grid__item"><a href="#">Интерьерные наклейки</a></li>
            <li class="grid__item"><a href="#">УФ печать на ПВХ</a></li>
        </ul>
        <a href="post.html" class="main-section__btn">Побробнее</a>
    </nav>
    <nav class="main-section__grid grid stands">
        <ul>
            <h3 class="grid-title">Стенды</h3>
            <li class="grid__item"><a href="#">Для детских садов</a></li>
            <li class="grid__item"><a href="#">Для школ</a></li>
            <li class="grid__item"><a href="#">Информационные стенды</a></li>
            <li class="grid__item"><a href="#">Уголки потребителя</a></li>
        </ul>
        <a href="post.html" class="main-section__btn">Побробнее</a>
    </nav>
    <div class="btn-block">
        <div>
            <a href="post.html" class="btn-block__btn">Побробнее</a>
        </div>
        <hr>
    </div>
    <article class="article services-text">
        <h3 class="article-title">Наши возможности</h3>
        <p class="article-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div>
            <a href="post.html" class="main-section__btn">Побробнее</a>
        </div>
    <hr>
    </article>
    <h3 class="swiper-container__title">Нам доверяют</h3>
</section>