<section class="main-banner swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="css/img/7.jpg" alt=""></div>
        <div class="swiper-slide"><img src="css/img/1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="css/img/4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="css/img/8.jpg" alt=""></div>
    </div>
    <div class="swiper-button-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
    <div class="swiper-button-next"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
    <h2 class="swiper-btn">Изготовление Наружной рекламы</h2>
    <div class="swiper-loader col">
        <a class="loader" id="loader" href="#section1"></a>
    </div>
</section>