<section class="slider-logo">
    <div class="logo-swiper swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="css/img/new_york.png" alt="" style="width: 145px; height: 93px"></div>
            <div class="swiper-slide"><img src="css/img/terra.png" alt="" style="width: 195px; height: 87px"></div>
            <div class="swiper-slide"><img src="css/img/mariland.png" alt="" style="width: 212px; height: 94px"></div>
            <div class="swiper-slide"><img src="css/img/strong.png" alt="" style="width: 181px; height: 100px"></div>
            <div class="swiper-slide"><img src="css/img/caro.png" alt="" style="width: 230px; height: 100px"></div>
        </div>
    </div>
</section>
<section class="advantages">
    <h3 class="advantages__title">Преимущества</h3>
    <ul class="advantages__grid grid">
        <li class="grid__item">
            <i class="fa fa-briefcase fa-4x"></i>
            <h4 class="grid__title">Опыт</h4>
            <p class="grid__text">Команда профессионалов
                с многолетним опытом
                работы</p>
        </li>
        <li class="grid__item">
            <i class="fa fa-child fa-4x"></i>
            <h4 class="grid__title">Сотрудники
                профи</h4>
            <p class="grid__text">Эксперты своего дела,
                готовы реализовать любой
                проект</p>
        </li>
        <li class="grid__item">
            <i class="fa fa-pencil-square-o fa-4x"></i>
            <h4 class="grid__title">Креатив
                наш девиз</h4>
            <p class="grid__text">Эксклюзивные макеты,
                продуманные до мелочей</p>
        </li>
        <li class="grid__item">
            <i class="fa fa-comments-o fa-4x"></i>
            <h4 class="grid__title">Отзывы</h4>
            <p class="grid__text">Нас рекомендуют прошлые
                и текущие клиенты</p>
        </li>
        <li class="grid__item">
            <i class="fa">24/7</i>
            <h4 class="grid__title">Производство и
                логистика</h4>
            <p class="grid__text">Гарантия сопровождения
                реализации проектов</p>
        </li>
    </ul>
</section>
<section class="article-section">
    <h3 class="article__title">Новости</h3>
    <ul class="article__grid">
        <li class="article__grid-item">
            <img src="css/img/article1.jpg" alt="" class="article__grid-img">
            <article class="article__grid-block">
                <h4 class="grid-block__title">Фотообои в Мелитополе!</h4>
                <time datetime="2017-01-16T08:23:11+07:00">16.01.2017</time>
                <p class="grid-block__text">
                    Где же купить качественные  и конечно же красивые фотообои в Мелитополе? Всё очень просто, Вы можете
                    купить фотообои у нас —  Piano Pubblicitario.  Конечно же современный выбор фотообоев очень велик, но  как
                    правило  размер готовых фотообоев не всегда соответствует Вашим требованиям  и приходится подрезать
                    картинку от чего страдает целостность сюжета...
                </p>
                <a href="#" class="grid-block__link">Читать статью</a>
            </article>
        </li>
        <hr>
        <li class="article__grid-item">
            <img src="css/img/article1.jpg" alt="" class="article__grid-img">
            <article class="article__grid-block">
                <h4 class="grid-block__title">Фотообои в Мелитополе!</h4>
                <time datetime="2017-01-16T08:23:11+07:00">16.01.2017</time>
                <p class="grid-block__text">
                    Где же купить качественные  и конечно же красивые фотообои в Мелитополе? Всё очень просто, Вы можете
                    купить фотообои у нас —  Piano Pubblicitario.  Конечно же современный выбор фотообоев очень велик, но  как
                    правило  размер готовых фотообоев не всегда соответствует Вашим требованиям  и приходится подрезать
                    картинку от чего страдает целостность сюжета...
                </p>
                <a href="#" class="grid-block__link">Читать статью</a>
            </article>
        </li>
        <hr>
        <li class="article__grid-item">
            <img src="css/img/article1.jpg" alt="" class="article__grid-img">
            <article class="article__grid-block">
                <h4 class="grid-block__title">Фотообои в Мелитополе!</h4>
                <time datetime="2017-01-16T08:23:11+07:00">16.01.2017</time>
                <p class="grid-block__text">
                    Где же купить качественные  и конечно же красивые фотообои в Мелитополе? Всё очень просто, Вы можете
                    купить фотообои у нас —  Piano Pubblicitario.  Конечно же современный выбор фотообоев очень велик, но  как
                    правило  размер готовых фотообоев не всегда соответствует Вашим требованиям  и приходится подрезать
                    картинку от чего страдает целостность сюжета...
                </p>
                <a href="#" class="grid-block__link">Читать статью</a>
            </article>
        </li>
        <hr>
    </ul>
</section>